<?xml version='1.0' encoding='UTF-8'?>
<widget id="com.ariemtech.LevelNxt" version="1.3" versionCode="4" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>LevelNxt</name>
    <description>
        Mobile Content Delivery and Medical Report Management App
    </description>
    <author email="info@ariemtech.com" href="https://ariem.nodeims.com">
        Ariem Technologies Pvt. Ltd.
    </author>
    <content src="index.html"/>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />

    <gap:platform name="ios"/>
    <gap:platform name="android"/>
    <gap:platform name="winphone"/>

    <gap:plugin name="com.phonegap.plugins.pushplugin " />
    <plugin name="Device" value="org.apache.cordova.device.Device" />
    <plugin name="Media" value="org.apache.cordova.media.Media" />
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
    <plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" />

    <preference name="android-installLocation" value="auto"/>
    <preference name="android-minSdkVersion" value="14" />

    <icon src="icon.png" width="144" height="144" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="SplashScreen" value="splash"/>
    <preference name="SplashScreenDelay" value="5000"/>
    <gap:splash src="splash.png" width="619" height="928"/>

    <gap:splash src="splash/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="splash/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2008" />

</widget>
