<div>
    <div class="container col-xs-12">
       <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width: {{used}};">
                {{used}}
            </div>
        </div>
    </div>        
    
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <b>Drag to Rearrange</b>
        </div>
        <ul class="list-group" droppable drop="handleDrop" id="listHolder">
            <li class="list-group-item" ng-repeat="file in playlistfiles"
                    draggable id="{{ $index }}" ng-class="{deleted: file.deleted}">
                <div class="text-primary container">
                    <div class="col-xs-8 truncate">{{file.filename || file}}</div>
                    <div>
                        <input ng-show="imgChk(file.filename || file)"
                            type="number" class="col-xs-2" id="{{file.filename || file}}"
                            min="1" max="999" ng-model="playlist[$index].duration">
                        <div ng-show="notimage" class="col-xs-2"></div>
                    </div>
                    <div class="col-xs-2 text-center">
                        <input type="checkbox" style="width:20px;height:20px"
                            id="file" ng-model="playlist[$index].selected">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>