       <div ng-controller='playerkey'>
            
            
            
            <div class="container well well-sm col-xs-12">
                
                <div class="text-center">
                    <!--filename goes here !!!! -->
                    <h1><b >{{filename}}</b></h1>
                </div>
            </div>
            <div class="container well well-sm col-xs-12" >
                
               <span class="col-xs-3"></span>
                <div class="col-xs-3">
                    <button class="btn btn-info btn-lg" ng-click="play()">
                         <span class="glyphicon glyphicon-play"></span>
                    </button>
                </div>
                <div class="col-xs-3 col-xs-offset-3">
                    <button class="btn btn-danger btn-lg" ng-click="stopplay()">
                         <span class="glyphicon glyphicon-stop"></span>
                    </button>
                </div>
                
               
                
                
            </div>
            
            
            
            
        </div>
        
    