<div ng-controller='playlistCtrl'>
    <div class="container col-xs-12">
       <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width: {{used}};">
                {{used}}
            </div>
        </div>
    </div>
    
    <nodeims-file-upload type="large" ondone="done(files, data)"> Create Playlist</nodeims-file-upload>
    
    <div class="panel panel-default">        
        <ul class="list-group" droppable drop="handleDrop" id="listHolder">
            <li class="list-group-item" ng-repeat="file in playlistfiles"
                    draggable id="{{ $index }}">
                <div class="text-primary container">
                    <div class="col-xs-9 truncate">{{file.filename || file}}</div>
                    <div>
                        <input ng-if="file.indexOf('jpg') != '-1'"
                            type="number" class="col-xs-1" id="{{file.filename || file}}"
                            min="1" max="999" ng-model="playlist[$index].duration">
                        <div ng-if="file.indexOf('jpg') == '-1'" class="col-xs-1"></div>
                    </div>
                    <div class="col-xs-2 text-center">
                        <input type="checkbox" style="width:20px;height:20px"
                            id="file" ng-checked="" ng-model="playlist[$index].selected">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>