
<html>
  <body>
    <div ng-controller="playerkey">
      <div class="container well well-sm col-xs-12">
        <div class="text-center">
          <!-- filename goes here !!!!-->
          <h1><b>&lcub;&lcub;filename&rcub;&rcub;</b></h1>
        </div>
      </div>
      <div class="container well well-sm col-xs-12"><span class="col-xs-3"></span>
        <div class="col-xs-3">
          <button ng-click="play()" class="btn btn-info btn-lg"><span ng-show="buttonshow"><i class="fa fa-play"></i></span><span ng-show="buttonhide"><i class="fa fa-pause"></i></span></button>
        </div>
        <div class="col-xs-3 col-xs-offset-3">
          <button ng-click="stopplay()" class="btn btn-danger btn-lg"><span><i class="fa fa-stop"></i></span></button>
        </div>
      </div>
    </div>
  </body>
</html>