html
  body
    div(ng-controller='playerkey')
      .container.well.well-sm.col-xs-12
        .text-center
          // filename goes here !!!!
          h1
            b &lcub;&lcub;filename&rcub;&rcub;
      .container.well.well-sm.col-xs-12
        span.col-xs-3
        .col-xs-3
          button.btn.btn-info.btn-lg(ng-click='play()')
            span(ng-show='buttonshow')
              i.fa.fa-play 
            span(ng-show='buttonhide')
              i.fa.fa-pause 
        .col-xs-3.col-xs-offset-3
          button.btn.btn-danger.btn-lg(ng-click='stopplay()')
            span
              i.fa.fa-stop
