#mainscreen
    button.btn.btn-info.btn-lg.btn-block(type='button') Playstat
    button.btn.btn-info.btn-lg.btn-block(type='button') Uploads
    button.btn.btn-info.btn-lg.btn-block(type='button') Log Messages
    button.btn.btn-info.btn-lg.btn-block(type='button') TV on status
    button.btn.btn-info.btn-lg.btn-block(type='button') Screeen Shots
