.panel.panel-primary
    .panel-heading
        .row
            .col-xs-6
                h4 Settings
    li.list-group-item
        form(name="settings_name")
            .form-group
                label Name of the installation
                .input-group.input-group-lg
                    input.form-control(type='text', ng-model='settings.name')
                    span.input-group-btn(ng-click='save()')
                        a.btn.btn-link(ng-if="!settings_name.$dirty")
                        a.btn.btn-success(ng-if="settings_name.$dirty")
                            i.fa.fa-check

    li.list-group-item
        form(name="settings_note")
            .form-group
                label Add a Optional Note
                .input-group.input-group-lg
                    input.form-control(type='text', ng-model='settings.note')
                    span.input-group-btn(ng-click='save()')
                        a.btn.btn-link(ng-if="!settings_note.$dirty")
                        a.btn.btn-success(ng-if="settings_note.$dirty")
                            i.fa.fa-check
