extends /layouts/basic-layout
block content
    .container(ng-app="viosBasic", ng-controller="SignupCtrl")
        .row
            .well.col-sm-8.col-sm-offset-2
                block localauth

        //add social logos here
