extends ../layouts/basic-layout
block content
    .container
        .row
            .well.col-sm-6.col-sm-offset-3
                h2.text-center.text-info Reset Password
                br
                form.form-horizontal(name= "forgotForm", autocomplete="on", action="/forgot", method='POST')
                    p.text-center.text-danger= message
                    p.text-center.text-warning= result
                    br

                    .form-group
                        label.col-sm-3.control-label Your Email
                        .col-sm-7
                            input.form-control(type="email", placeholder="Please enter your Sign-up Email",
                                    name='email',ng-model='user.email', required)

                    .form-group
                        .col-sm-7.col-sm-offset-3
                            button.btn.btn-warning(type='submit') Send me the link
