
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Please Sign-in!</h3>
        </div>
        <div class="panel-body">
          <form name="loginForm" ng-submit="login(loginForm)" novalidate="novalidate">
            <p class="text-danger">{{ errors.other }}</p>
            <div class="form-group">
              <label>Your Email</label>
              <input type="email" placeholder="xyz@domain.com" ng-model="user.email" name="email" required="required" class="form-control"/><span ng-show="(loginForm.email.$error.required || loginForm.email.$error.email) &amp;&amp; loginForm.email.$dirty" class="help-block"><small class="text-danger">Email is needed for sign-in</small></span>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" ng-model="user.password" name="password" required="required" class="form-control"/><span ng-show="loginForm.password.$error.required &amp;&amp; loginForm.password.$dirty" class="help-block"><small class="text-danger">Type in your password</small></span><a ng-click="forgoturl()" class="help-block"><em class="text-warning">forgot?</em></a>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block">Sign-in</button>
            </div>
            <div class="form-group"><span class="text-center text-info"><em>Need an account?</em></span><a href="/signup" class="btn btn-default form-control"><em>Create a new account</em></a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>