.container
    .row
        .col-xs-12
            .panel.panel-primary
                .panel-heading
                    h3.panel-title.text-center Please Sign-in!
                .panel-body

                    form(name= "loginForm", ng-submit='login(loginForm)',novalidate)
                        p.text-danger {{ errors.other }}
                        .form-group
                            label Your Email
                            input.form-control(type="email", placeholder="xyz@domain.com",ng-model='user.email',name='email', required)
                            span.help-block(ng-show="(loginForm.email.$error.required || loginForm.email.$error.email) && loginForm.email.$dirty")
                                small.text-danger Email is needed for sign-in

                        .form-group
                            label Password
                            input.form-control(type="password",ng-model='user.password', name='password',required)
                            span.help-block(ng-show="loginForm.password.$error.required && loginForm.password.$dirty")
                                small.text-danger Type in your password
                            a.help-block(ng-click="forgoturl()"): em.text-warning forgot?


                        .form-group
                            button.btn.btn-primary.btn-block(type='submit',ng-disabled="loginForm.$invalid") Sign-in

                        .form-group
                            span.text-center.text-info: em Need an account?
                            a.btn.btn-default.form-control(href='/signup'): em Create a new account

