html(lang='en')
    head        
    body(style="background:#eee;font-family: Helvetica;")
        div(style="color:rgb(82, 62, 62);min-height:50px;margin:23% auto;width:70%;text-align:center")
            p(style="font-size:20px")  To
                b  Configure
                |   the
                b  App,
                |   please
                b  Load
                |   the
                b  Address
                |   shown in your device
                b  Browser,
            p(style="font-size:45px;color:rgb(76, 98, 133)")  http://#{ipaddress}:8000
                
