extends ./layout
block content
    .container(ng-app="piathome")
        .navbar.navbar-fixed-top.navbar-inverse(ng-controller='NavbarCtrl')
            button.btn.btn-info.navbar-btn(ng-show="showBackButton",ng-click="goBack()")
                i.icon-arrow-left.icon-large
            button.btn.btn-link.navbar-btn(ng-click="goHome()") HOME
            button.btn.navbar-btn.pull-right(ng-show='navbar.showPrimaryButton',
                                    ng-click='primaryButtonClick()', ng-bind='navbar.primaryButtonText', ng-class='navbar.primaryButtonTypeClass')
            button.btn.btn-link.navbar-btn.btn-sm.pull-right
                i.icon-cloud(style="color:{{onlineStatus}}")

            input.col-xs-12.form-control(ng-show="showSearchField && showSearchButton",ng-model="search.$")
            p.row#screenlogelement.text-center(ng-class = "screenlogclass") {{screenlog}}
        .mobile(ng-view)





