     <!-- storage bar -->
    <div class="container col-xs-12">
        <h3> storage indicator</h3>
    </div>
    <!-- button to add assets -->
    <button type="button" class="btn btn-info  btn-block"><span class="glyphicon glyphicon-plus-sign"> Playstat</span></button>
    <!-- list of files -->


<div class="panel panel-default">
    <ul class="list-group">
        <li ng-repeat="file in files| filter:search" class="list-group-item">
            <div class="media"><div ng-click="playFile(file)" class="media-body">
            <div class="col-sm-3 col-xs-8">
                <a href="#/player/:{{file}}">{{file}}</a>
            </div></div>
            </div>
        </li>
    </ul>
</div>