
<div style="height:136px" class="well well-sm">
  <div class="progress">
    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{used}};" class="progress-bar progress-bar-warning">&lcub;&lcub;used&rcub;&rcub;</div>
  </div>
</div>
<div class="well well-sm">
  <div class="row">
    <div class="col-xs-6 col-padding-5px"><a href="#/playlists" style="color:#004c7d" class="btn btn-link btn-block"><i class="icon-user icon-3x"></i>
        <p style="font-size:12px">Playlists</p></a></div>
    <div class="col-xs-6 col-padding-5px"><a href="#/assets" style="color:#239ff1" class="btn btn-link btn-block"><i class="icon-envelope-alt icon-3x"></i>
        <p style="font-size:12px">Assets</p></a></div>
    <div class="col-xs-6 col-padding-5px"><a href="#/reports" style="color:#004c7d" class="btn btn-link btn-block"><i class="icon-file-alt icon-3x"></i>
        <p style="font-size:12px">Reports</p></a></div>
    <div class="col-xs-6 col-padding-5px"><a href="#/settings" style="color:#239ff1" class="btn btn-link btn-block"><i class="icon-user-md icon-3x"></i>
        <p style="font-size:12px">Settings</p></a></div>
  </div>
</div>