<div ng-controller='assetsCtrl'>
     <!-- storage bar -->
    <div class="container col-xs-12">
        <h3> storage indicator</h3>
    </div>
    
    <!-- button to add assets -->
    <nodeims-file-upload type="large" ondone="done(files, data)"> Add Assets</nodeims-file-upload>
    
    <!-- list of files -->
    <div class="panel panel-default">
        <ul class="list-group">
            <li ng-repeat="file in files | filter:search" class="list-group-item">
                <div class="media"><div class="media-body">
                <div class="col-xs-12 truncate">
                    <a href="#/assets/:{{file}}" ng-bind="file"></a>
                </div></div>
                </div>
            </li>
        </ul>
    </div>
</div>