.alert.alert-info(ng-if='!playlistOn && !operationInProgress')
    button.btn.btn-success.btn-block(ng-click="play()")
        | No Playlist is being Played
        br
        | START PLAYING
.alert.alert-info(ng-if='playlistOn && !operationInProgress')
    .row
        .col-xs-3
            button.btn.btn-block.btn-danger(ng-if="!tvStatus"): small TV
            button.btn.btn-block.btn-success(ng-if="tvStatus"): small TV
        .col-xs-6
            h4 Playing default playlist
            h6 playing since &nbsp;{{duration | date:  'H:mm:ss'}}
        .col-xs-3
            button.btn.btn-danger.btn-block(ng-click="stop()") STOP
.alert.alert-warning(ng-if='operationInProgress')
    button.btn.btn-warning.btn-block
        | Please Wait, Request pending
.alert.alert-warning
    .row
        .col-xs-8
            small.text-muted Srorage: {{diskSpaceAvailable}} free
        .col-xs-4
            .progress
                .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: {{diskSpaceUsed}};')
                    | {{diskSpaceUsed}} used


.well.well-sm
    .row
        .col-xs-6.col-padding-5px
            a.btn.btn-link.btn-block(href="#/playlists",style="color:#004c7d")
                i.icon-list-alt.icon-3x
                p(style="font-size:12px") Playlists
        .col-xs-6.col-padding-5px
            a.btn.btn-link.btn-block(href="#/assets",style="color:#239ff1")
                i.icon-folder-open.icon-3x
                p(style="font-size:12px") Assets
        .col-xs-6.col-padding-5px
            a.btn.btn-link.btn-block(href="#/reports",style="color:#239ff1")
                i.icon-file-alt.icon-3x
                p(style="font-size:12px") Reports
        .col-xs-6.col-padding-5px
            a.btn.btn-link.btn-block(href="#/settings",style="color:#004c7d")
                i.icon-cog.icon-3x
                p(style="font-size:12px") Settings


