
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Rename or delete files, tap Done when completed</div>
  </div>
  <ul class="list-group">
    <li ng-repeat="file in files" class="list-group-item">
      <form class="row">
        <div class="form-group">
          <div class="input-group col-xs-10">
            <input type="text" ng-model="file" class="form-control"/><span title="Rename {{file}}" ng-click="rename(file, $index)" class="input-group-addon"><a type="button" style="text-decoration:none;" class="glyphicon glyphicon-ok btn-link"></a></span>
          </div><span title="Delete {{file}}" class="col-xs-2"><a type="button" ng-click="delete(file)" style="text-decoration:none;margin-top:6px" class="glyphicon glyphicon-remove btn-link"></a></span>
        </div>
      </form>
    </li>
  </ul>
</div>