<div ng-controller='assetsCtrl'>
    <div class="container col-xs-12">
       <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{used}};">{{used}}
            </div>
        </div>
    </div>
    
    <nodeims-file-upload type="large" ondone="done(files, data)"> Add Assets</nodeims-file-upload>
    
    <div class="panel panel-default">
        <div ng-repeat="file in files" class="list-group-item">
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="file">
            </div>
        </div>
    </div>
</div>