<div ng-controller="assetsEditCtrl">
    <div class="container col-xs-12">
       <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{used}};">{{used}}
            </div>
        </div>
    </div>
    
    <nodeims-file-upload type="large" ondone="done(files, data)"> Add Assets</nodeims-file-upload>
    
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="file in files">
                <form>
                    <div class="form-group">
                        <div class="col-xs-11">
                            <input type="text" class="form-control" ng-model="file">
                        </div>
                        <div title="Delete {{file}}" ng-controller="assetsDeleteCtrl">                            
                            <a type="button" href="#/assets/delete/{{ file }}" style="text-decoration:none"
                               class="glyphicon glyphicon-remove btn-link"></a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>