<div>
    <div class="container col-xs-12">
       <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{used}};">{{used}}
            </div>
        </div>
    </div>
    
    <nodeims-file-upload type="large" ondone="done(files, data)"> Add Assets</nodeims-file-upload>
    
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="file in files">
                <form class="row">
                    <div class="form-group">
                        <div class="input-group col-xs-10">
                            <input type="text" class="form-control" ng-model="file">
                                <span title="Rename {{file}}" class="input-group-addon"
                                    ng-click="rename(file, $index)">
                                <a type="button" style="text-decoration:none;"
                                    class="glyphicon glyphicon-ok btn-link"></a>
                            </span>
                        </div>
                        <span title="Delete {{file}}" class="col-xs-2">
                            <a type="button" ng-click="delete(file)"
                               style="text-decoration:none;margin-top:6px"
                               class="glyphicon glyphicon-remove btn-link"></a>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>