<div class="container" style="margin: 5%">
    <form role="form" name="noticeform" ng-hide="noticepreview">
        <div class="form-group">
            <input type="text" class="form-control" ng-class="{forminvalid: errorcls}" id="filename"
                ng-model="noticefilename" name="noticefilename"
                title="Edit / Enter File Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="title" ng-model="noticetitle"
            placeholder="Title To Be Shown" required ng-maxlength="60">
            <span class="error text-danger" ng-show="noticeform.title.$error.maxlength">
                <small> Max-length: 50 </small>
            </span>            
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="10" ng-model="noticedescription"
                style="resize:none" placeholder="Description" required></textarea>
        </div>
        <span class="text-danger" ng-show="atterr">{{errmsg}}</span>
        <nodeims-file-upload allow="imageonly" type="small"
                onerror="err(file, msg)" ondone="noticedone(files, data)">
            Add An Attachment
        </nodeims-file-upload>        
        <button type="submit" class="btn btn-primary" ng-click="savePage()"
            style="margin-top:2%;font-size: medium;font-weight: normal">
            Save
        </button>
        <button type="submit" class="btn btn-primary" ng-click="noticepreview=true"
            style="margin-top:2%;font-size: medium;font-weight: normal" ng-disabled="noticeform.$invalid">
            Preview
        </button>
    </form>
    <div ng-show="noticepreview">
        <div class="row">
            <button type='button' class='close' ng-click="noticepreview=false">x</button>
        </div>
        <h3 class="truncate">  {{ noticetitle }}   </h3>
        <div class="media">
            <a class="pull-right" href={{previewimagepath}} target="_blank">
                <img class="media-object" name="previewimagepath" style="width:150px; height: 150px"
                    ng-src="{{ previewimagepath }}" ng-show="previewimagepath">
            </a>
            <div class="media-body">
                <h4 class="media-heading"></h4>
                    {{ noticedescription }}
            </div>
        </div>
    </div>
</div>