doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='Raspberry,pi,home server, media, smart tv')
        meta(name='description', content="Raspberry Pi Home Media Server")
        meta(name='author', content='Ariem Technologies')
        meta(name='copyright', content='Ariem Technologies, Copyright (c) 2014')
        title Raspberry Home Media Server and TV adapter
        link(rel='stylesheet', href='app/css/bootstrap.min.css')
        link(rel='stylesheet', href='app/css/font-awesome.css')
        link(rel='stylesheet', href='app/css/custom.css')
        link(href='https://fonts.googleapis.com/css?family=Lato|Open+Sans', rel='stylesheet', type='text/css')
    body
        .container(ng-app="piathome",ng-controller='MainCtrl')
            .navbar.navbar-fixed-top.navbar-inverse
                button.btn.btn-info.navbar-btn(ng-show="showBackButton",ng-click="goBack()")
                    i.icon-arrow-left.icon-large
                button.btn.btn-link.navbar-btn(ng-click="goHome()")
                    | HOME
                    //i.icon-plus-sign-alt.icon-2x
                .btn-group.pull-right
                    button.btn.btn-link(ng-show="showSearchButton",ng-click="doSearch()")
                        i.icon-search.icon-2x   &nbsp;
                    button.btn.btn-link(ng-show="showGroupButton",ng-click="selectGroup()")
                        i.icon-caret-down.icon-2x &nbsp;
                    button.btn.btn-link.navbar-btn.btn-sm
                        i.icon-cloud(style="color:{{onlineStatus}}")
                    button.btn.btn-link.dropdown-toggle(data-toggle="dropdown")
                        i.icon-reorder.icon-2x &nbsp;
                    ul.dropdown-menu(role="menu")
                        li: a(ng-click="logout()") Sign Out
                .btn-group.btn-group-justified
                    a.btn.btn-info: small Media
                    a.btn.btn-info: small Phone
                    a.btn.btn-info: small YouTube
                    a.btn.btn-info: small Settings
                input.col-xs-12.form-control(ng-show="showSearchField && showSearchButton",ng-model="search.$")
                p.row#screenlogelement.text-center(ng-class = "screenlogclass") {{screenlog}}
                //.mobile.row
                div(ng-view)
        script(type="text/javascript", src="phonegap.js")
        script(src='app/lib/angular/angular.min.js')
        script(src='app/lib/angular/angular-resource.min.js')
        script(src='app/lib/angular/angular-cookies.min.js')
        script(src='app/lib/angular/angular-route.min.js')
        script(src='app/lib/angular/angular-sanitize.min.js')
        script(src='app/lib/bootstrap/ui-bootstrap-tpls-0.6.0.min.js')
        script(src='app/lib/angular/angular-animate.min.js')
        script(src='app/js/piConfig.js')
        script(src='app/lib/fastclick/fastclick.js')

        script(src='app/js/controllers/piathome.js')
        script(src='app/js/services/pi.js')
        script(src='app/js/directives/pi.js')
        script(src='app/js/filters/pi.js')
        script(src='app/js/services/cordovaServices.js')

        script(src='app/js/appMobile.js')
        script.
            angular.element(document).ready(function() {
                document.FC = FastClick.attach(document.body);
            });



