
<html lang="en">
  <head></head>
  <body style="background:#eee;font-family: Helvetica;">
    <div style="color:rgb(82, 62, 62);min-height:50px;margin:20% auto;width:70%;text-align:center">
      <p style="font-size:30px;text-align:center;font-weight:bold"> Welcome to PiSignage</p>
      <p style="font-size:20px;color:rgb(82, 62, 62)">Please connect your mobile via usb to the device, enable USB tethering in settings and load the following url</p>
      <p style="font-size:45px;color:rgb(76, 98, 133)"> http://192.168.42.10:8000</p>
    </div>
  </body>
</html>