body {
    max-width: 960px;
    margin: auto;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mobile {
    font-size: 18px;
    max-width: 960px;
    margin: auto;
}

.mobile .btn {
    font-size: 120%;
    font-weight: bold;
}

.btn-muted {
    color: #ffffff;
    background-color: #87b5dd;
    border-color: #87b5dd;
}

.well-noborder {
    border: none;
}

.col-padding-5px {
    padding: 5px;
}

.navbar-center {
    text-align: center;
    float: none;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* adjust modal width */
body .modal {
    /* new custom width
    max-width: 85%;
    /* must be half of the width, minus scrollbar on the left (30px)
    left: 15%;
    width: auto; */
    margin-left: auto;
    margin-right: auto;
}

body .modal-body {
    max-height: 550px;
}

.modal {
    display: block;
}

.hide {
    display: none;
}

.no-float {
    float:none;
}

/* Multiselect styles
-------------------------------------------------- */
.multiselect {
    width: 200px;
    max-height: 300px;
    position: relative;
}
.multiselect-wrapper {
    margin: 0;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    z-index: 1010;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 1px;
    position: absolute;

}
.multiselect ul{
    list-style-type: none;
    overflow: auto;
    max-height: 200px;
}
.multiselect input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    height: 25px;
}
.multiselect .btn {
    width: 210px;
}

.dropdown-menu {
    z-index: 2000;
}

.letter-box {
    width: 64px;
    height: 64px;
    background: lightskyblue;
    text-align: center;
    font-size: 32px;
    line-height: 64px;
    color: #f8f8ff;
}

.letter-box-small {
    width: 48px;
    height: 48px;
    background: lightskyblue;
    text-align: center;
    font-size: 28px;
    line-height: 48px;
    color: #f8f8ff;
}

/* for file input deisgn */
.upload_file_container{
    width:50px;
    height:50px;
    position:relative;
    background-image: url(../img/upload_clip.png);
    background-color: #f5f5f5;
}

.upload_file_container input{
    width:50px;
    height:50px;
    position:absolute;
    right:0;
    bottom:0;
    cursor:pointer;
}

/* off-canvas related css */

/* hide the horizontal scrollbar */
html {
    overflow-x: hidden;
}

/* make all parent containers 100% height */
html, body, .wrapper {
    height: 100%;
}

/* move the toggle button to the left and give it
   some breathing room */
.navbar-toggle {
    float: left;
}

.sidebar-offcanvas {
}

@media screen and (max-width: 767px) {

    /* outer div */
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .3s ease-in;
        -most-transition: left .3s ease-in;
        transition: left .3s ease-in;
    }

    /* sidebar */
    .sidebar-offcanvas {
        left: -80%;
        width: 80%;
        position: absolute;
        height: 100%;
        background-color: #f7f7f7;
        padding: 0px;
    }

    /* content */
    .row-offcanvas.active {
        left: 80%;
    }

}


