
<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>{{filedetails.name}}</h5>
  </div>
  <div class="panel-body"><img ng-src="{{ imageSrc(filedetails.name) }}" class="img-responsive img-rounded"/></div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-8">
        <h5>File Size: {{filedetails.size}}</h5>
      </div>
      <div class="col-xs-4">
        <button ng-click="playButtonPressed()" class="btn btn-info btn-block"><i ng-if="!play" class="fa fa-play fa-2x"></i><i ng-if="play" class="fa fa-pause fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>