.panel.panel-primary
    .panel-heading
        h5 {{filedetails.name}}
    .panel-body
        img.img-responsive.img-rounded(ng-src='{{ imageSrc(filedetails.name) }}')
    .panel-footer
        .row
            .col-xs-8
                h5 File Size: {{filedetails.size}}
            .col-xs-4
                button.btn.btn-info.btn-block(ng-click='playButtonPressed()')
                    i.icon-play.icon-2x(ng-if="!play")
                    i.icon-pause.icon-2x(ng-if="play")
