.panel.panel-primary
    .panel-heading
        .panel-title Rename or delete files, tap Done when completed
    ul.list-group
        li.list-group-item(ng-repeat='file in files')
            form.row(name="assetsedit")
                .form-group
                    .input-group.col-xs-9
                        input.form-control(type='text', ng-model='file.name')                    
                        span.input-group-addon(title='Rename {{file}}', ng-click='rename(file.name, file.ext, $index)', ng-show="assetsedit.$dirty")
                            a.btn-link(type="button")
                                i.fa.fa-check
                    span.col-xs-1.text-muted(ng-bind="file.ext")                            
                    span.col-xs-2.text-right(title='Delete {{file}}')
                        a.btn-link(type='button', ng-click='delete(file.name, file.ext)', style='vertical-align:middle')
                            i.fa.fa-times
