doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='copyright', content=', Copyright (c) 2014')
        title Vios
        link(rel='stylesheet', href='/app/css/bootstrap.min.css')
        link(rel='stylesheet', href='/app/css/font-awesome.min.css')
        link(rel='stylesheet', href='/app/css/custom.css')
        link(href='https://fonts.googleapis.com/css?family=Lato|Open+Sans', rel='stylesheet', type='text/css')
    body
        block content
        block cordova_script
        script(src='/app/lib/angular/angular.min.js')
        script(src='/app/lib/angular/angular-resource.min.js')
        script(src='/app/lib/angular/angular-sanitize.min.js')
        script(src='/app/lib/angular/angular-cookies.min.js')
        script(src='/app/lib/angular/angular-ui-router.min.js')
        script(src='/app/lib/angularui/ui-bootstrap-tpls-0.10.0.min.js')
        block more_scripts