include ./common-layout
    block more_scripts
        script(src='/app/js/viosConfig.js')
        script(src='/app/js/controllers/viosIndex.js')
        script(src='/app/js/controllers/viosUser.js')
        script(src='/app/js/controllers/viosEntity.js')
        script(src='/app/js/controllers/viosCircle.js')
        script(src='/app/js/controllers/viosPeople.js')
        script(src='/app/js/controllers/viosPost.js')
        script(src='/app/js/services/vios.js')
        script(src='/app/js/services/viosUser.js')
        script(src='/app/js/appPc.js')
