include ./common-layout
    block more_scripts
        script(src='/app/js/piConfig.js')
        script(src='/app/js/controllers/piIndex.js')
        script(src='/app/js/controllers/piUser.js')
        script(src='/app/js/services/pi.js')
        script(src='/app/js/services/piUser.js')
        script(src='/app/js/appPc.js')
