.panel.panel-primary
    .panel-heading
        .row
            .col-xs-10
                h4(ng-bind="filename", style="text-weight:bold;text-transform:uppercase")
            .col-xs-2
                button.btn.btn-success.pull-right(type="button",ng-click="saveplaylistsettings(filename)") Save
    .panel-body
        form(role='form', id='playlistcalendar', name='playlistcalendar')
            .form-group
                label.control-label(for="startdate") Start Date: 
                input.form-control(type='date', ng-model='playlistsettings.startdate', name='startdate', title='Enter Start Date', required='')
            .form-group
                label.control-label(for="enddate") End Date: 
                input.form-control(type='date', ng-model='playlistsettings.enddate', name='enddate', title='Enter End Date', required='')
            .form-group
                label.control-label(for="starttime") Every Day Start Time: 
                input.form-control(type='time', ng-model='playlistsettings.starttime', name='starttime', title='Enter Start Time', required='')
            .form-group
                label.control-label(for="endtime") Every Day End Time: 
                input.form-control(type='time', ng-model='playlistsettings.endtime', name='enddate', title='Enter End Time', required='')