
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10">
        <h4 ng-bind="filename" style="text-weight:bold;text-transform:uppercase"></h4>
      </div>
      <div class="col-xs-2">
        <button type="button" ng-click="saveplaylistsettings(filename)" class="btn btn-success pull-right">Save</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form role="form" id="playlistcalendar" name="playlistcalendar">
      <div class="form-group">
        <label for="startdate" class="control-label">Start Date: </label>
        <input type="date" ng-model="playlistsettings.startdate" name="startdate" title="Enter Start Date" required="" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="enddate" class="control-label">End Date: </label>
        <input type="date" ng-model="playlistsettings.enddate" name="enddate" title="Enter End Date" required="" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="starttime" class="control-label">Every Day Start Time: </label>
        <input type="time" ng-model="playlistsettings.starttime" name="starttime" title="Enter Start Time" required="" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="endtime" class="control-label">Every Day End Time: </label>
        <input type="time" ng-model="playlistsettings.endtime" name="enddate" title="Enter End Time" required="" class="form-control"/>
      </div>
    </form>
  </div>
</div>