.panel.panel-primary
    .panel-heading
        .panel-title Rename or delete files, tap Done when completed
    ul.list-group
        li.list-group-item(ng-repeat='file in playlistfiles')
            span(ng-if="file.filename == 'default'", ng-bind="file.filename")
            form.row(ng-if="file.filename != 'default'", name="playlisteditform")
                .form-group
                    .input-group.col-xs-10
                        input.form-control(type='text', ng-model='file.filename', name="{{file.filename}}", required='')
                        span.input-group-addon(title='Rename {{file.filename}}', ng-click='rename(file.filename, $index)', ng-show="playlisteditform.$dirty && playlisteditform.$valid")
                            a.btn-link(type='button')         
                                i.fa.fa-check                       
                    span.col-xs-2(title='Delete {{file.filename}}')
                        a.btn-link(type='button', ng-click='delete(file.filename)', style='vertical-align:middle; text-decoration:none')
                            i.fa.fa-times
