
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-7">
        <h4>All Playlists Files</h4>
      </div>
      <div class="col-xs-5">
        <button type="button" ng-click="addplaylist()" ng-disabled="disableAddPlaylist" class="btn btn-info pull-right">Add PlayList</button>
      </div>
    </div>
  </div>
  <ul ng-show="playlistfiles.length" class="list-group">
    <li ng-repeat="file in playlistfiles" class="list-group-item">
      <form role="form" name="playlistadd" class="row">
        <div class="form-group">
          <div ng-if="$last &amp;&amp; newfile" class="input-group col-xs-12 truncate listtxt">
            <input type="text" ng-model="file.filename" required="" class="form-control"/><span title="Rename {{file.filename}}" ng-click="create(file.filename, $index)" ng-show="playlistadd.$valid" class="input-group-addon"><a type="button" style="text-decoration:none;" class="btn-link"><i class="fa fa-check"></i></a></span>
          </div>
          <div ng-if="!$last || !newfile" class="col-xs-12 truncate listtxt">
            <div ng-click="goTo(&quot;/playlists/&quot;+file.filename)" class="col-xs-10">
              <h4 ng-bind="file.filename" style="text-weight:bold;text-transform:uppercase" class="text-primary"></h4>
              <div ng-if="file.filename != 'default' "><span ng-bind="file.settings.startdate | date: 'dd MMM'"></span><span ng-if="file.settings.startdate &amp;&amp; file.settings.enddate">&nbsp- {{file.settings.enddate | date: 'dd MMM'}}</span><span ng-bind="file.settings.starttime + ' - '" style="margin-left:10px;" ng-if="file.settings.starttime &amp;&amp; file.settings.endtime"></span><span ng-bind="file.settings.endtime">                       </span></div>
            </div>
            <h4 class="col-xs-2 text-right"><a type="button" style="text-decoration:none;" ng-href="{{ '#/playlists/schedules/'+file.filename }}" ng-if="file.filename != 'default' " class="btn-link"><i class="fa fa-calendar"></i></a></h4>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>