.panel.panel-primary
    .panel-heading
        .row
            .col-xs-7
                h4 All Playlists Files
            .col-xs-5
                button.btn.btn-info.pull-right(type="button",ng-click="addplaylist()", ng-disabled="disableAddPlaylist") Add PlayList
    ul.list-group(ng-show='playlistfiles.length')
        li.list-group-item(ng-repeat='file in playlistfiles')
            .row
                .col-xs-12.truncate.listtxt(ng-if="$last && newfile")
                    .input-group
                        input.form-control(type='text', ng-model='file.filename')
                        span.input-group-addon(title='Rename {{file.filename}}', ng-click='rename(file.filename, $index)')
                            a.glyphicon.glyphicon-ok.btn-link(type='button', style='text-decoration:none;')
                .col-xs-12.truncate.listtxt(ng-if="!$last || !newfile")
                    div.col-xs-10(ng-click='goTo("/playlists/"+file.filename)')
                        h4(ng-bind='file.filename', style="text-weight:bold;text-transform:uppercase", class="text-primary")
                        div(ng-if="file.filename != 'default' ")
                            span(ng-bind="file.settings.startdate | date: 'dd MMM'")
                            span(ng-if=("file.settings.startdate && file.settings.enddate")) &nbsp- {{file.settings.enddate | date: 'dd MMM'}}
                            span(ng-bind="file.settings.starttime + ' - '", style="margin-left:10px;", ng-if="file.settings.starttime && file.settings.endtime")
                            span(ng-bind="file.settings.endtime")                        
                    h4.col-xs-2.text-right
                        a.glyphicon.glyphicon-calendar.btn-link(type='button', style='text-decoration:none;', ng-href="{{ '#/playlists/schedules/'+file.filename }}", ng-if="file.filename != 'default' " )


