.container
    .row
        .navbar.navbar-inverse
            a.navbar-brand(href='/')
                strong CareBook:&nbsp; {{navbarTitle}}
            ul.nav.navbar-nav.pull-right
                a(href="/doctor").navbar-text Welcome &nbsp;{{currentUser.name}}!
                a.btn.btn-link.navbar-btn.pull-right(href='{{postEntityPrefix}}{{postPersonPrefix}}/posts/new')
                    i.fa.fa-pencil-square-o.fa-2x(style="color:white")
    .row
        .col-sm-3
            .panel.panel-default
                .panel-heading
                    h3.panel-title Manage
                ul.nav.nav-pills.nav-stacked
                    li(ng-class="getClass('home.wall')")
                        a(ng-click="loadState('home.wall')") Direct Messages
                    //li(ng-class="getClass('home.actions')")
                        a(ng-click="loadState('home.actions')") Actions
                    li(ng-class="getClass('home.newsfeed')")
                        a(ng-click="loadState('home.newsfeed')") News Feed
                    li
                        a(ng-click="loadState('home.vitals')") Vitals
                    li.nav-divider
                    li(ng-class="getClass('home.mycircles')")
                        a(ng-click="loadState('home.mycircles')") My Groups
                    li(ng-class="getClass('home.entities')")
                        a(ng-click="loadState('home.entities')") Hospitals
                    li.nav-divider
                    //li(ng-class="getClass('/roles')")
                        a(href="#") Settings
                    li(ng-class="getClass('')")
                        a(ng-click="logout()") Sign Out


        .col-sm-9
            div(ui-view, autoscroll="false")

