.container
    .row
        .navbar.navbar-inverse
            a.navbar-brand(href='/')
                strong piSignage:&nbsp; {{navbarTitle}}
            ul.nav.navbar-nav.pull-right
                a(href="/doctor").navbar-text Welcome &nbsp;{{currentUser.name}}!
    .row
        .col-sm-3
            .panel.panel-default
                .panel-heading
                    h3.panel-title Manage
                ul.nav.nav-pills.nav-stacked
                    li(ng-class="getClass('home.wall')")
                        a(ng-click="loadState('home.wall')") Groups
                    li(ng-class="getClass('home.newsfeed')")
                        a(ng-click="loadState('home.newsfeed')") Players
                    li.nav-divider
                    li
                        a(ng-click="loadState('home.vitals')") Assets
                    li(ng-class="getClass('home.mycircles')")
                        a(ng-click="loadState('home.mycircles')") Playlists
                    li(ng-class="getClass('home.entities')")
                    li.nav-divider
                    li(ng-class="getClass('home.entities')")
                        a(ng-click="loadState('home.entities')") Reports
                    li(ng-class="getClass('/roles')")
                        a(href="#") Settings
                    li.nav-divider
                    li(ng-class="getClass('')")
                        a(ng-click="logout()") Sign Out


        .col-sm-9
            div(ui-view, autoscroll="false")

